<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
Generated Random Numer  <div id="randomNumber"><%=randomNumber%></div>
<div id="cacheContent" ></div>
<p>
    <a href="\cache" id="reloadPage">Reload page.</a>
</p>
</body>
</html>
