<!DOCTYPE html>
<html>
<head>
  <% include ../partials/no-cache-header.ejs %>
    <script>
        function redirectToUrl(url){
            window.location.href = url;
        }
    </script>

</head>

<body>
<p>Safari test for deep linking feature</p>
<p>
    <a href="javascript: void(0)" onclick="redirectToUrl('https://uat.onlinebanking.deutschebank.be/portalserver/olb-portal/evo#/messages')" id="reloadPage">Redirect to message page.</a>
</p>
</body>
</html>